$light-color: #e7eced;
$dark-bg-color: #60667a;
$light-bg-color: #dfe6ff;
$note-bg-color: #f0f0f0;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1325
);


//bootstrap
@import "~bootstrap/scss/bootstrap";
//containers
@import "./containers/notes/notes.scss";
//components
@import "./components/control/control.scss";
@import "./components/header/header.scss";
@import "./components/user/user.scss";
@import "./components/favoritePool/favorite-pool.scss";
@import "./components/nav/nav.scss";
@import "./components/notesPool/notes-pool.scss";
@import "./components/note/note.scss";
@import "./components/confirm/confirm.scss";
@import "./components/content/content.scss";
@import "./components/notification/notification.scss";

